* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    background-color: white;
    margin: 0 auto;
    display: flex;
    background: #100c08;
    flex-direction: column;
    align-items: center;
    padding-top: 8rem;
    height: 100dvh;
}

.controls {
    display: flex;
    gap: 0.5rem;
    margin-top: 2rem;
}
.tl {
    bottom: 0;
    right: 0;
    font-size: 10px;
    font-style: italic;
    padding-inline: 0.55rem;
    position: absolute;
    color: white;
}
